body {
  overflow-x: hidden;
}
.heading {
  text-align: center;
  text-transform: uppercase;
}
.sub-heading {
  text-align: center;
  text-transform: capitalize;
  opacity: 0.5;
  font-weight: 600;
  font-size: 1.2rem;
}
h2 {
  color: orangered;
  text-transform: capitalize;
  /* padding-left: 2%; */
}

.img_wrapper {
  width: 70%;
}
.ticket_img {
  width: 100%;
  border-radius: 8px 8px;
}
.name_price_wrapper {
  width: 50%;
}
.list--wrapper {
  padding-left: 20%;
  padding-bottom: 5rem;
}
ul {
  margin-top: 5rem;
  display: flex;
  flex-basis: 20rem;
  flex-wrap: wrap;
  gap: 2rem;
  width: 90%;
  justify-content: flex-start;
  align-items: center;
  overflow-y: hidden;
  padding-bottom: 3rem;
}
.list {
  display: flex;
  width: 20rem;
  align-items: center;
  margin-bottom: 1rem;
  gap: 2rem;

  padding: 2rem 2rem;
}
.btn {
  background-color: rgba(69, 40, 145, 0.8);
  color: #fff;
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 5px 5px;
  width: 100%;
  margin-bottom: 1.5rem;
}
.btn:hover {
  background-color: rgba(69, 40, 145, 0.4);
}
.ticket-name {
  text-transform: capitalize;
  font-weight: 900;
}
.price {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: -0.2rem;
}
h2 {
  padding-left: 12%;
  margin-bottom: -5rem;
  margin-top: 3rem;
}

.generateQrCode {
  width: 30%;
  min-height: 20rem;
  padding: 1.3rem 5rem;
  padding-bottom: 2%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13), 0 1px 1px 0 rgba(0, 0, 0, 0.11);
}
.form--overlay {
  width: 100%;
  min-height: 100rem;
  position: absolute;
  padding-top: 10%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
input,
label {
  display: block;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
  line-height: 1.7;
  width: 100%;
}
.summaryDetails {
  display: block;
  margin-bottom: 0.5rem;
  /* border: solid green; */

  /* line-height: 1.2; */
}
b {
  text-transform: capitalize;
}
.dsc-name {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.setDisplayNone {
  display: none;
}
.verify {
  width: 70%;
  margin: 0 auto;
}
.close--btn {
  color: red;
  font-size: 1.3rem;
  margin-left: 95%;
  cursor: pointer;
}
.close--btn:hover {
  color: #000;
}
/* .dispNone {
  display: none;
} */
.confirm {
  color: green;
  width: 80%;
}
.done {
  font-size: 1.2rem;
}

@media (max-width: 56.3em) {
  .list--wrapper {
    padding-left: 9%;
  }
  .form--overlay {
    padding-top: 50vh;
  }
  .generateQrCode {
    width: 50%;
  }
  .summary-child {
    width: 100%;
    /* border: solid red; */
    box-sizing: border-box;
  }
}

@media (max-width: 37.5em) {
  .list--wrapper {
    padding-left: 0.5rem;
  }
  ul {
    width: 95%;
  }
  .list {
    display: flex;
    width: 80%;
    align-items: center;
    gap: 0.2rem;
    margin-bottom: -5rem;
    margin-left: -2rem;
    padding: 2rem 3rem;
    gap: 1rem;
    flex-wrap: wrap;
  }
  h2 {
    margin-bottom: -5rem;
  }
  .form--overlay {
    padding-top: 50vh;
  }
  .generateQrCode {
    width: 80%;
    padding: 1.3rem 1rem;
  }
}
